.img1{
    margin: 50px 0px 0px 785px;
    width: 300px;
    position: absolute;
}
.text1{
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 44px;
}
.title-content{
    font-size: 28px;
    color: #012AFF;
    font-family: Arima_Madurai;
}
.img1-1{
    margin: 0px 0px 0px 733px;
    width: 300px;
    position: absolute;
}
.bando{
    width: 800px;
    position: absolute;
    float: right;
    margin: 120px 0px 0px 324px;
}
.text2{
    margin-top: 70px;
    margin-left: 60px;
}
.text2>hr{
    width: 210px;
}
.text2-p{
    font-family: Arimo;
}