#title-tintuc{
    font-family: Arima_Madurai;
    font-size: 28px;
    font-weight: 500;
    color: #0065C3;
}
#title-tin{
    text-decoration: none;
    font-size: 30px;
    font-family: Arima_Madurai;
    margin-left: 354px;
    margin-right: 39px;
}
#tin1>p{
    margin-left: 354px;
    margin-right: 39px;
    margin-top: -45px;
}